extends ../layout

block content
    div.container-card2
        div.content
            div.description
                a.button(href=`/card/${card.id}/edit`) Edit
                div.card
                    div.info-row.id
                        div.card-title=card.card_name
                        div.card-type=card.type
                    div.line
                    div.clash-info
                        div.card-output-min=card.output_min
                        div.card-output-max=card.output_max
                    div.dices
                        div.card-dices=card.dices
                    div.dice-info
                        div.card-die_min=card.die_min
                        div.card-die_max=card.die_max